<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192097266563-r6f2o1q017r26qjd9gdt6m31845ou59t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192097266563-r6f2o1q017r26qjd9gdt6m31845ou59t</string>
	<key>API_KEY</key>
	<string>AIzaSyBnVJhfTNT6rco73tNX78qPZgd3oxmY524</string>
	<key>GCM_SENDER_ID</key>
	<string>192097266563</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.navi.goodDeedsApp</string>
	<key>PROJECT_ID</key>
	<string>good-deeds-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>good-deeds-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192097266563:ios:d8aa584094667e541ce4b6</string>
</dict>
</plist>